# PyCity Schools Analysis

- ANALYSIS - *******  PLEASE SEE WRITTEN REPORT ******* MAKE PDF
  
---

In [9]:
# Setup
import pandas as pd

# Filepath
filepath1 = ("Resources/schools_complete.csv")
filepath2 = ("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(filepath1)
student_data = pd.read_csv(filepath2)

# Merge Datasets
complete_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [10]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [11]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [12]:
complete_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.3+ MB

In [13]:
school_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   School ID    15 non-null     int64
 1   school_name  15 non-null     object
 2   type         15 non-null     object
 3   size         15 non-null     int64
 4   budget       15 non-null     int64
dtypes: int64(3), object(2)
memory usage: 728.0+ bytes

## District Summary

In [14]:
unique_school_names = complete_df['school_name'].unique()
print(unique_school_names)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [15]:
# Calculate the total number of unique schools
school_count = complete_df["school_name"].unique()
number_unique_schools = len(school_count) 
print("Total Number of Unique Schools:",number_unique_schools)

Total Number of Unique Schools: 15

In [18]:
# Calculate the total number of students
student_count = len(student_data)
print("Total Number of Students:",student_count)

Total Number of Students: 39170

In [19]:
# Calculate the total budget
total_budget_per_school = school_data.groupby('school_name')['budget'].sum()
total_budget = school_data['budget'].sum()
total_budget

24649428

In [20]:
# Average math score
ave_math_score = complete_df['math_score'].mean()
print("Average Math Score: ", ave_math_score)

Average Math Score:  78.98537145774827

In [21]:
# Average reading score
ave_read_score = complete_df['reading_score'].mean()
print("Average Reading Score: ",ave_read_score)

Average Reading Score:  81.87784018381414

In [22]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
pass_math_count = complete_df[(complete_df["math_score"] >= 70)].count()["student_name"]
pass_math_perc = pass_math_count / float(student_count) * 100
print("Percentage of Students Who Passed Math: ",pass_math_perc)

Percentage of Students Who Passed Math:  74.9808526933878

In [23]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
pass_read_count = complete_df[(complete_df["reading_score"] >= 70)].count()["student_name"]
pass_read_perc = pass_read_count / float(student_count) * 100
print("Percentage of Students Who Passed Reading: ",pass_read_perc)

Percentage of Students Who Passed Reading:  85.80546336482001

In [24]:
# Use the following to calculate the percentage of students that passed math and reading
pass_math_read_count = complete_df[
    (complete_df["math_score"] >= 70) & (complete_df["reading_score"] >= 70)
].count()["student_name"]
overall_pass_rate = pass_math_read_count / float(student_count) * 100
print("Percentage of Students Who Passed Math and Reading: ",overall_pass_rate)

Percentage of Students Who Passed Math and Reading:  65.17232575950983

In [25]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_data = {
    'Total Number of Unique Schools': [number_unique_schools],
    'Total Students': [student_count],
    'Total Budget': [total_budget],
    'Average Math Score': [ave_math_score],
    'Average Reading Score' : [ave_read_score],
    '% Passing Math' :[pass_math_perc],
    '% Passing Reading': [pass_read_perc],
    'Overall Passing': [overall_pass_rate]
}
district_summary = pd.DataFrame(district_data)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)

district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)

district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)

district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.2f}%".format)

district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}%".format)

district_summary["Overall Passing"] = district_summary["Overall Passing"].map("{:,.2f}%".format)

district_summary

,Total Number of Unique Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

In [26]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [29]:
# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [33]:
# Calculate the total school budget 
per_school_budget = school_data.set_index(["school_name"])["budget"]
print(per_school_budget)

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [34]:
# Calculate the per capita spending per school
per_student_budget = per_school_budget / per_school_counts
per_student_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [44]:
# Calculate the average math scores per school 
per_school_math = complete_df.groupby("school_name").math_score.mean()
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [45]:
# Calculate the average reading scores per school
per_school_reading = complete_df.groupby("school_name").reading_score.mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [37]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = complete_df.loc[complete_df['math_score'] > 70]
school_students_passing_math = students_passing_math.groupby('school_name').size()
print(school_students_passing_math)

school_name
Bailey High School       3216
Cabrera High School      1664
Figueroa High School     1880
Ford High School         1801
Griffin High School      1317
Hernandez High School    3001
Holden High School        387
Huang High School        1847
Johnson High School      3040
Pena High School          882
Rodriguez High School    2562
Shelton High School      1583
Thomas High School       1475
Wilson High School       2076
Wright High School       1625
dtype: int64

In [38]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = complete_df[complete_df['reading_score'] > 70]
school_students_passing_reading = students_passing_reading.groupby('school_name').size()
print(school_students_passing_reading)

school_name
Bailey High School       3946
Cabrera High School      1744
Figueroa High School     2313
Ford High School         2123
Griffin High School      1371
Hernandez High School    3624
Holden High School        396
Huang High School        2299
Johnson High School      3727
Pena High School          887
Rodriguez High School    3109
Shelton High School      1631
Thomas High School       1519
Wilson High School       2129
Wright High School       1682
dtype: int64

In [39]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = complete_df[
    (complete_df["reading_score"] >= 70) & (complete_df["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [40]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / student_count * 100
per_school_passing_reading = school_students_passing_reading / student_count * 100
overall_passing_rate = school_students_passing_math_and_reading / student_count * 100

In [43]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above

school_data = {
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_student_budget,
    "Average Math Score": per_school_math ,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_rate
}

per_school_summary = pd.DataFrame(school_data)
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
# per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
# Per Prof - There is a bug in this homework. When we use pd.cut further down, the Per Student Budget is read as a string instead of integer, so we get an error
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.2f}".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.2f}%".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.2f}%".format)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976.00","$3,124,928.00",628.0,77.05,81.03,8.210365,10.07%,6.94%
Cabrera High School,Charter,"1,858.00","$1,081,356.00",582.0,83.06,83.98,4.248149,4.45%,4.33%
Figueroa High School,District,"2,949.00","$1,884,411.00",639.0,76.71,81.16,4.799592,5.91%,4.01%
Ford High School,District,"2,739.00","$1,763,916.00",644.0,77.10,80.75,4.597907,5.42%,3.80%
Griffin High School,Charter,"1,468.00","$917,500.00",625.0,83.35,83.82,3.362267,3.50%,3.40%
Hernandez High School,District,"4,635.00","$3,022,020.00",652.0,77.29,80.93,7.661476,9.25%,6.33%
Holden High School,Charter,427.00,"$248,087.00",581.0,83.80,83.81,0.988001,1.01%,0.97%
Huang High School,District,"2,917.00","$1,910,635.00",655.0,76.63,81.18,4.715343,5.87%,3.99%
Johnson High School,District,"4,761.00","$3,094,650.00",650.0,77.07,80.97,7.761042,9.51%,6.51%
Pena High School,Charter,962.00,"$585,858.00",609.0,83.84,84.04,2.251723,2.26%,2.22%
Rodriguez High School,District,"3,999.00","$2,547,363.00",637.0,76.84,80.74,6.540720,7.94%,5.41%
Shelton High School,Charter,"1,761.00","$1,056,600.00",600.0,83.36,83.73,4.041358,4.16%,4.04%
Thomas High School,Charter,"1,635.00","$1,043,130.00",638.0,83.42,83.85,3.765637,3.88%,3.80%
Wilson High School,Charter,"2,283.00","$1,319,574.00",578.0,83.27,83.99,5.299974,5.44%,5.28%
Wright High School,Charter,"1,800.00","$1,049,400.00",583.0,83.68,83.95,4.148583,4.29%,4.15%

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values('% Overall Passing', ascending=False)

# Display the top 5 rows
top_schools.head()

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values('% Overall Passing', ascending=True)
# # Display the top 5 rows
bottom_schools.head()

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = complete_df[(complete_df["grade"] == "9th")]
tenth_graders = complete_df[(complete_df["grade"] == "10th")]
eleventh_graders = complete_df[(complete_df["grade"] == "11th")]
twelfth_graders = complete_df[(complete_df["grade"] == "12th")]

In [ ]:
# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name").math_score.mean()
tenth_grade_math_scores = tenth_graders.groupby("school_name").math_score.mean()
eleventh_grade_math_scores = eleventh_graders.groupby("school_name").math_score.mean()
twelfth_grade_math_scores = twelfth_graders.groupby("school_name").math_score.mean()

In [ ]:
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade ={
    "9th Grade Math Score": ninth_grade_math_scores,
    "10th Grade Math Score": tenth_grade_math_scores,
    "11th Grade Math Score": eleventh_grade_math_scores,
    "12th Grade Math Score": twelfth_grade_math_scores
}
math_scores_by_grade = pd.DataFrame(math_scores_by_grade)

In [ ]:
# Minor data wrangling
math_scores_by_grade.index.name = None

# Formatting
math_scores_by_grade["9th Grade Math Score"] = math_scores_by_grade["10th Grade Math Score"].map("{:,.2f}".format)
math_scores_by_grade["10th Grade Math Score"] = math_scores_by_grade["10th Grade Math Score"].map("{:,.2f}".format)
math_scores_by_grade["11th Grade Math Score"] = math_scores_by_grade["11th Grade Math Score"].map("{:,.2f}".format)
math_scores_by_grade["12th Grade Math Score"] = math_scores_by_grade["12th Grade Math Score"].map("{:,.2f}".format)

# # Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = complete_df[(complete_df["grade"] == "9th")]
tenth_graders = complete_df[(complete_df["grade"] == "10th")]
eleventh_graders = complete_df[(complete_df["grade"] == "11th")]
twelfth_graders = complete_df[(complete_df["grade"] == "12th")]

In [ ]:
# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name").reading_score.mean()
tenth_grade_reading_scores = tenth_graders.groupby("school_name").reading_score.mean()
eleventh_grade_reading_scores = eleventh_graders.groupby("school_name").reading_score.mean()
twelfth_grade_reading_scores = twelfth_graders.groupby("school_name").reading_score.mean()

In [ ]:
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
reading_scores_by_grade ={
    "9th Grade Reading Score": ninth_grade_reading_scores,
    "10th Grade Reading Score": tenth_grade_reading_scores,
    "11th Grade Reading Score": eleventh_grade_reading_scores,
    "12th Grade Reading Score": twelfth_grade_reading_scores
}
reading_scores_by_grade = pd.DataFrame(reading_scores_by_grade)

In [ ]:
# Minor data wrangling
reading_scores_by_grade.index.name = None

# Formatting
reading_scores_by_grade["9th Grade Reading Score"] = reading_scores_by_grade["10th Grade Reading Score"].map("{:,.2f}".format)
reading_scores_by_grade["10th Grade Reading Score"] = reading_scores_by_grade["10th Grade Reading Score"].map("{:,.2f}".format)
reading_scores_by_grade["11th Grade Reading Score"] = reading_scores_by_grade["11th Grade Reading Score"].map("{:,.2f}".format)
reading_scores_by_grade["12th Grade Reading Score"] = reading_scores_by_grade["12th Grade Reading Score"].map("{:,.2f}".format)

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending = per_school_summary.copy()

In [ ]:
# Establish the bins
bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending["Spending Ranges (Per Student)"] = pd.cut(school_spending["Per Student Budget"],bins, labels=labels)
school_spending

In [ ]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = school_spending

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] =
per_school_summary

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary =

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =

# Display results
type_summary