# PyCity Schools Analysis

- ANALYSIS - *******  PLEASE SEE WRITTEN REPORT ******* MAKE PDF
  
---

In [57]:
# Setup
import pandas as pd

# Filepath
filepath1 = ("Resources/schools_complete.csv")
filepath2 = ("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data_pd = pd.read_csv(filepath1)
student_data_pd = pd.read_csv(filepath2)

In [58]:
# Merge Datasets
complete_df = pd.merge(student_data_pd, school_data_pd, how="left", on=["school_name", "school_name"])
complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [59]:
# Calculate the total number of unique schools
school_count = complete_df["school_name"].unique()
number_unique_schools = len(school_count) 
# print("Total Number of Unique Schools:",number_unique_schools)

In [60]:
# Calculate the total number of students
student_count = len(student_data_pd)
# print(student_count)

In [61]:
# Calculate the total budget
budget_per_school = complete_df.groupby('school_name')['budget'].sum()
total_budget = budget_per_school.sum()
# Ask the Xpert - how to add commas
# print("Total Budget: ",total_budget)

In [62]:
# Average math score
ave_math_score = complete_df['math_score'].mean()
# print("Average Math Score: ", ave_math_score)

In [63]:
# Average reading score
ave_read_score = complete_df['reading_score'].mean()
# print("Average Reading Score: ",ave_read_score)

In [64]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
pass_math_count = complete_df[(complete_df["math_score"] >= 70)].count()["student_name"]
pass_math_perc = pass_math_count / float(student_count) * 100
# print("Percentage of Students Who Passed Math: ",pass_math_perc)

In [65]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
pass_read_count = complete_df[(complete_df["reading_score"] >= 70)].count()["student_name"]
pass_read_perc = pass_read_count / float(student_count) * 100
# print("Percentage of Students Who Passed Reading: ",pass_read_perc)

In [66]:
# Use the following to calculate the percentage of students that passed math and reading
pass_math_read_count = complete_df[
    (complete_df["math_score"] >= 70) & (complete_df["reading_score"] >= 70)
].count()["student_name"]
overall_pass_rate = pass_math_read_count / float(student_count) * 100
# print("Percentage of Students Who Passed Math and Reading: ",overall_pass_rate)

In [67]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_data = {
    'Total Number of Unique Schools': [number_unique_schools],
    'Total Students': [student_count],
    'Total Budget': [total_budget],
    'Average Math Score': [ave_math_score],
    'Average Reading Score' : [ave_read_score],
    '% Passing Math' :[pass_math_perc],
    '% Passing Reading': [pass_read_perc],
    'Overall Passing': [overall_pass_rate]
}
district_summary_df = pd.DataFrame(district_data)

# Formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:,.2f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:,.2f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:,.2f}%".format)


district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:,.2f}%".format)

district_summary_df["Overall Passing"] = district_summary_df["Overall Passing"].map("{:,.2f}%".format)

district_summary_df

,Total Number of Unique Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,"39,170","$82,932,329,558.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

In [68]:
# Use the code provided to select the type per school from school_data
school_types = school_data_pd.set_index(["school_name"])["type"]
print(school_types)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [69]:
# Calculate the total student count per school from school_data
# Ask the Expert
school_student_count = complete_df.groupby('school_name')['student_name'].count()
school_student_count.columns = ['school_name', 'Total Students']
print(school_student_count)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [70]:
# Calculate the total school budget 
per_school_budget = complete_df.groupby('school_name')['budget'].min()
print(per_school_budget)

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [71]:
# Calculate the per capita spending per school
per_school_capita = per_school_budget / school_student_count
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [72]:
# Calculate the average math scores per school 
per_school_math = complete_df.groupby('school_name')['math_score'].mean()
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [73]:
# Calculate the average reading scores per school
per_school_reading = complete_df.groupby('school_name')['reading_score'].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [74]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = complete_df[complete_df['math_score'] > 70]
school_students_passing_math = students_passing_math.groupby('school_name').size()
print(school_students_passing_math)

school_name
Bailey High School       3216
Cabrera High School      1664
Figueroa High School     1880
Ford High School         1801
Griffin High School      1317
Hernandez High School    3001
Holden High School        387
Huang High School        1847
Johnson High School      3040
Pena High School          882
Rodriguez High School    2562
Shelton High School      1583
Thomas High School       1475
Wilson High School       2076
Wright High School       1625
dtype: int64

In [75]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = complete_df[complete_df['reading_score'] > 70]
school_students_passing_reading = students_passing_reading.groupby('school_name').size()
print(school_students_passing_reading)

school_name
Bailey High School       3946
Cabrera High School      1744
Figueroa High School     2313
Ford High School         2123
Griffin High School      1371
Hernandez High School    3624
Holden High School        396
Huang High School        2299
Johnson High School      3727
Pena High School          887
Rodriguez High School    3109
Shelton High School      1631
Thomas High School       1519
Wilson High School       2129
Wright High School       1682
dtype: int64

In [76]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = complete_df[
    (complete_df["reading_score"] >= 70) & (complete_df["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [77]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / student_count * 100
per_school_passing_reading = school_students_passing_reading / student_count * 100
overall_passing_rate = school_students_passing_math_and_reading / student_count * 100

In [81]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above

# Create a dictionary
summary = {
    "School Type": school_types,
    "Total Students": school_student_count,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math ,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_rate
}

per_school_summary = pd.DataFrame(summary)

 # Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,8.210365,10.074036,6.941537
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,4.248149,4.452387,4.332397
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,4.799592,5.905029,4.005617
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,4.597907,5.419964,3.796273
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,3.362267,3.500128,3.395456
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,7.661476,9.251979,6.333929
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,0.988001,1.010978,0.972683
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,4.715343,5.869288,3.985193
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,7.761042,9.514935,6.507531
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,2.251723,2.264488,2.223641
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,6.540720,7.937197,5.409752
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,4.041358,4.163901,4.041358
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,3.765637,3.877968,3.796273
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,5.299974,5.435282,5.279551
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,4.148583,4.294103,4.151136

In [ ]:
#

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools =
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools =
bottom_schools.head(5)

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores =
tenth_grader_math_scores =
eleventh_grader_math_scores =
twelfth_grader_math_scores =

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade =

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores =
tenth_grader_reading_scores =
eleventh_grader_reading_scores =
twelfth_grader_reading_scores =

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade =

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =
school_spending_df

In [ ]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary =

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] =
per_school_summary

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary =

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =

# Display results
type_summary